<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/login.css')}}">
</head>
<body >
	
	<div class="topnav">
		<a class="active">Sentiment Point</a>
	</div>

	<section id="bodySection">

	
	
		<div id="formDiv">
			<form>
				<label>Username</label>
				<input type="text">

				<label>Password</label>
				<input type="password">

				<input type="submit" name="Login">
			</form>	
		</div>

	</section>

</body>
</html>